extends layout

block headAbove
    script(src='/socket.io/socket.io.js')

block headBelow
    script(src='/javascripts/maps.js')
    script(src='/javascripts/top.js')
    script(src='/javascripts/windChart.js')
    script(src='/javascripts/nodeChart.js')
    script(src='/javascripts/nodes.js')
    script(src='/javascripts/app.js')

block content
    .disconnected DISCONNECTED FROM SERVER
    .header
        .container
            .row
                .col-sm-12
                    p POWER METERS
    .container
        .row
            .col-sm-12.status
                - var isUp = parseInt(lastReading.wind) >= parseInt(lastReading.basePt)
                p Wind production is currently&nbsp;
                    if isUp
                        span.green #{parseInt(lastReading.wind) - parseInt(lastReading.basePt)} MW&nbsp;
                        | Positive
                    else
                        span.red #{parseInt(lastReading.basePt) - parseInt(lastReading.wind)} MW&nbsp;
                        | Negative
        .row
            .col-sm-12
                div(id="windChart")
    br
    .container
        .row
            .col-sm-12.status
                p home power device report
        .row
            .col-sm-3.col-xs-6.node(node-id="0")
                .cont
                    .title
                    .status
                    .offline OFFLINE
                    .stats
                        .arch
                        .mem
                        .uptime

            .col-sm-3.col-xs-6.node(node-id="1")
                .cont
                    .title
                    .status
                    .offline OFFLINE
                    .stats
                        .arch
                            .pretext OS
                        .mem
                        .uptime
            .col-sm-3.col-xs-6.node(node-id="2")
                .cont
                    .title
                    .status
                    .offline OFFLINE
                    .stats
                        .arch
                        .mem
                        .uptime
            .col-sm-3.col-xs-6.node(node-id="3")
                .cont
                    .title
                    .status
                    .offline OFFLINE
                    .stats
                        .arch
                        .mem
                        .uptime
        .row
            .col-sm-12
                div(id="nodeChart")
    .container
        .row
            .col-sm-12.status
                p WIND POWER LOCATIONS
    .map
        script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
        script.

            google.maps.event.addDomListener(window, 'load', initialize);
        #map_canvas