doctype html
html(ng-app="windPower")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js')
    script(src='/javascripts/app.js')
    script(src='http://code.highcharts.com/highcharts.js')
    script(src='/javascripts/highcharts-ng.min.js')
    script(src='/javascripts/moment.min.js')
  body
    block content