body {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  background-color: #313134;
  color: #f3f3f3;
}
a {
  color: #00b7ff;
}
.disconnected {
  box-sizing: border-box;
  color: #fff;
  background-color: #8b0000;
  padding: 0;
  text-align: center;
  height: 0px;
  overflow: hidden;
  margin: 0;
  -webkit-transition: all 1s ease;
}
.disconnected.false {
  height: auto;
  padding: 10px 20px;
}
