*
  box-sizing: border-box

body
  padding: 0px
  margin: 0px 0px 0px 0px
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px
  background-color: #313134
  color: #f3f3f3
a
  color: #00B7FF

.header
  text-align: center
  background-color: #444447
  padding: 50px 0px
  h1
    font-weight: 200
    font-size: 60px
    color: #D8D8D8
  p
    font-size: 25px
    font-weight: 400
  .img
    &.logo
      height: 200px
    img
      height: 100%
.links
  text-align: center
  margin: 50px 0px
  a
    color: #D8D8D8
    text-decoration: none
    border-bottom: 1px dotted #D8D8D8
    padding-bottom: 2px
    &:hover,&:visited
      color: darken(#D8D8D8, 18%)
    &:active
      color: lighten(#D8D8D8, 18%)
.status
  text-align: center
  font-size: 30px
  text-transform: uppercase
  font-weight: 200
  margin: 20px 0px
  color: #5F5F5F
  span.green
    color: green
  span.red
    color: red

.disconnected
  box-sizing: border-box
  color: #fff
  background-color: darkred
  padding: 0
  text-align: center
  height: 0px
  overflow: hidden
  margin: 0
  -webkit-transition: all 1s ease
  &.false
    height: auto
    padding: 10px 20px
.node
  -webkit-transform: all 1s ease
  &.connected
    .status
      background-color: #008400
      border: 1px solid lighten(#008400, 8%)
    .offline
      display: none
    .stats
      display: block
    .title
      color: inherit
  .title
    text-transform: uppercase
    font-weight: 100
    font-size: 18px
    line-height: 15px
    color: #818181
  .stats
    display: none
    margin: 10px auto
    clear: both
    width: 170px
    & > div
      position: relative
      padding-left: 65px
      &:before
        position: absolute
        text-align: right
        left: 0px
        color: #686869
        width: 60px
    .arch:before
      content: 'OS'
    .mem:before
      content: 'MEM'
    .uptime:before
      content: 'UPTIME'
  .cont
    background-color:#2a2a2b
    margin-bottom: 10px
    padding: 10px
    position: relative
    min-height: 115px
  .status
    position: absolute
    top: 10px
    right: 10px
    height: 8px
    width: 25px
    background-color: #A50000
    border: 1px solid lighten(#A50000, 6%)
    margin: 0
    -webkit-border-radius: 1px
    border-radius: 1px
  .offline
    text-align: center
    color: #575758
    margin: 20px 0px
    text-transform: uppercase
#map_canvas
  height: 360px
  width: 100%
  color: #222